.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 2% 2%;
}

.box:hover {
    box-shadow: 0 8px 24px 8px rgba(0, 0, 0, 0.1);
}

.box .title {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #4D533C;
    letter-spacing: 0;
    line-height: 34px;
    margin: 0;
}

.box .description {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgba(33,56,66,0.60);
    letter-spacing: 0;
    line-height: 26px;
    margin: 10% 0 25% 0;
}

@media (max-width: 700px) {
    .box {
        width: 90%;
        padding: 2% 2%;
        text-align: center;
    }

    .box .description {
        margin: 10% auto;
        text-align: center;
    }
    .box .url {
        text-align: center;
        margin: 0 auto;
    }
}